@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
	--color-primary: #725ACA;
	--color-secondary: #A289FC;
	--color-accent: #D9FFA6;
	--font-montserrat: "Montserrat", sans-serif;
	--font-lato: "Lato", sans-serif;
  }

  path {
	stroke-dasharray: 3000;  /* Total length of the path */
	stroke-dashoffset: 3000; /* Start the path with a dashed line */
	animation: sine-wave 5s ease-in-out infinite;
  }
  
  @keyframes sine-wave {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(15px); /* Move right */
	}
	100% {
	  transform: translateX(0); /* Move back to original position */
	}
  }
  
  

